/* These are the backgrou colors*/

.dark-background {
  background-color: #112C4F;
}

.quote-background {
  background-color: #e5e7eb;
}

/*General img guidelines*/
img {
  height: auto;
  max-width: 100%;
}

/* This is for the header and bio/intro*/

nav {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 80%;
}

.header-links {
  display: flex;
  margin: auto;
  width: 50%;
  justify-content: space-around;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.header-links {
  font-size: 18px;
  color: #e5e7eb;
}

.intro-bold {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bold;
}

.intro-reg {
  color: #e5e7eb;
  font-size: 18px;
}

.signUp {
  border: none;
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}

.intro-img {
  width: 500px;
  height: auto;
}

.intro-main {
  display: flex;
  margin: auto;
  width: 80%;
  height: 500px;
  justify-content: space-between;
  align-items: center;
}

.intro-div {
  width: 40%;
}
.intro-div p {
  margin: 25px;
  margin-left: 0px;
}

/*This is for the random images*/
.random {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-evenly;
  width: 75%;
  height: 500px;
}

.random .randompictures {
  display: flex;
  justify-content: space-around;
}

.randomimg {
  width: 200px;
}

.random .randomheader {
  margin: 0px auto;
}

.randomheader{
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937;
}

/*This is for the quote area*/
.quotearea {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
}

.quotearea div {
  width: 50%;
}

.quotearea div span {
  float: right;
  font-size: 32p;
  font-weight: bolder;
}

/*This is for the source area near bottom*/

.signuparea {
  display: flex;
  width: 75%;
  height: 250px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.signuparea div {
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
}

.signuparea strong {
  color: white;
  font-size: 28px;
}

.signuparea p {
  color: white;
  font-size: 14px;
}

.signuparea div .signupinside {
  display: flex;
  flex-direction: column;
}

.signuparea div div {
  margin: 25px;
}

.sourcebutton {
  background-color: #3882f6;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 25px;
}

/*This is for the footer*/
footer {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}
