/* These are the backgrou colors*/

.dark-background {
  background-color: #112C4F;
}

.quote-background {
  background-color: #e5e7eb;
}

/* This is for the header and bio/intro*/

nav {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 80%;
}

.header-links {
  display: flex;
  margin: auto;
  width: 50%;
  justify-content: space-around;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.header-links {
  font-size: 18px;
  color: #e5e7eb;
}

.intro-bold {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bold;
}

.intro-reg {
  color: #e5e7eb;
  font-size: 18px;
}

.signUp {
  border: none;
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}

.intro-img {
  width: 500px;
  height: auto;
}

.intro-main {
  display: flex;
  margin: auto;
  width: 80%;
  height: 500px;
  justify-content: space-between;
  align-items: center;
}

.intro-div {
  width: 40%;
}
.intro-div p {
  margin: 25px;
  margin-left: 0px;
}

